* {
  box-sizing: border-box;
}

body {
  font-size: 0;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: #3DB4E0;
  text-decoration: none;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 20px;
  text-transform: uppercase;
}

h3 {
  font-size: 16px;
  text-transform: uppercase;
  border-top: 1px solid #cecece;
  padding-top: 40px;
  color: gray;
}

.meta {
  font-size: 16px;
  font-style: italic;
  font-family: Georgia, serif;
  color: gray;
}

input {
  font-size: 16px;
  padding: 5px;
  width: 100%;
}

#hero {
  position: relative;
}

#hero .banner-crop {
  max-height: 400px;
  overflow: hidden;
}

#hero #banner {
  width: 150%;
  margin-top: -250px;
}

#hero #logo {
  max-width: 150px;
  border-radius: 200px;
  position: absolute;
  bottom: -80px;
  left: 50px;
  border: 8px solid white;
}

#container {
  max-width: 960px;
  margin: 70px auto;
}

#left-col {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}

#left-col p {
  font-size: 20px;
  color: gray;
  font-family: Georgia, serif;
}

#right-col {
  width: 70%;
  display: inline-block;
  padding-left: 5%;

}

#right-col .crop {
  max-height: 200px;
  overflow: hidden;
}

#right-col .crop .featured-image {
  width: 100%;
}

#follow {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 1px solid #cecece;
  border-radius: 3px;
  background: white;
}


#follow h4 {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #cecece;
  padding: 0 10px;
  margin-top: 10px;
}

#follow #small-logo {
  max-width: 40px;
  display: inline-block;
  margin-left: 10px;
}

#follow .social {
  display: inline-block;
  padding: 0 10px 10px 10px;
  margin: 0;
  line-height: 1;
}

#follow .social .username {
  font-weight: bold;
  font-size: 14px;
}

#follow .social .tiy {
   color: #A0A0A0;
   font-size: 14px;
}

#follow .button {
  background: #4295BE;
  display: inline-block;
  font-size: 12px;
  padding: 8px 20px;
  border-radius: 3px;
  color: #fff;
  margin-right: 10px;
  vertical-align: top;
}

#follow .button:hover {
  background: #4EAEDE;
}
